/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


body {
  margin: 0;
  padding: 0;
  background: #ffebcd;
}
header {
  display: flex;
  background: #fff;
  width: 100%;
  height: 20%;
}
.image-bg {
  margin: 0 auto;
  vertical-align: middle;
}
.logo {
  margin: 15px;
  line-height: 64px;
  vertical-align: middle;
}
.image-bg img {
  width: 65%;
  height: auto;
  vertical-align: middle;
  object-fit: contain;
}

#open {
  line-height: 64px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
#open.hide {
  display: none;
}
#close {
  line-height: 64px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}
.overlay.show {
  opacity: 1;
  pointer-events: auto;
}
.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: start;
}
.overlay ul a {
  text-decoration: none;
}
.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}
.overlay li + li{
  margin-top: 12px;
}
.overlay.show li {
  opacity: 1;
  transform: none;
}
.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}
.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}
.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}
.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}
.overlay  h1 {
  margin-top: 0;
  font-size: 24px;
  line-height: 64px;
  width: 70%;
  position: absolute;
  top: 15px;
  left: 15px;
}
.overlay  img {
  width: 70%;
  height: auto;
  vertical-align: middle;
}

.pc-menu {
  display: none;
}

.container {
  text-align: center;
  margin: 0 auto;
  padding: 16px;
}
.container > div{
  margin: 0 0 32px 0;
}
.container h3 {
  font-size: 22px;
  color: #121212;
  margin: 0;
  margin-bottom: 32px;
}
.container h3::before {
  content: '';
  width: 30px;
  height: 1px;
  border-top: 1px solid #121212;
  display: inline-block;
  position: relative;
  top: -9px;
  left: -10px;
}
.container h3::after {
  content: '';
  width: 30px;
  height: 1px;
  border-top: 1px solid #121212;
  display: inline-block;
  position: relative;
  top: -9px;
  right: -10px;
}
.container table {
  margin: 0 auto;
}
.container table tr th,
.container table tr td {
  padding: 4px;
}
.container table tr th {
  text-align: end;
}
.container table tr td {
  text-align: start;
}
.customer-info {
  text-align: start;
}
.container .ways {
  text-align: start;
  background: #fff;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}
.container .ways > div{
  display: flex;
}
.container .ways > div > span{
  margin-right: 8px;
}
.container .ways h4,
.container .ways p {
  margin: 0;
}

.items {
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.items > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.items > span {
  margin: 0;
  font-size: 14px;
  border-bottom: 1px solid #121212;
}
.items h3 {
  margin: 14px 16px;
}
.items-link {
  text-align: center;
  margin: 0;
  padding: 16px 0;
  font-size: 16px;
}
.items-link a {
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: .25rem;
  background-color: #fff;
  color: #121212;
  font-weight: bold;
}
.items-link a:hover {
  background-color: #6bb6ff;
}
/* カード */
.card {
  margin: 0 auto;
  margin-top: 30px;
  width: 250px;
  background: #fff;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card + .card {
  margin-top: 30;
}
.items-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: auto;
}
.items-content {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.items-title {
  font-size: 20px;
  height: 24px;
  margin: 0;
  margin-left: 16px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}
.items-text {
  /* color: #1e90ff; */
  font-size: 14px;
  margin: 0;
}

.items dl {
  margin: 0;
}
.items dl > div {
  margin-bottom: 8px;
}
.items dt {
  padding: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
}
.items dt::after {
  content: '+';
  position: absolute;
  top: 8px;
  right: 16px;
}
.items dl > div.appear dt::after {
  transform: rotate(45deg);
  transition: transform .3s;
}
.items dd {
  padding: 8px;
  margin: 0;
  display: none;
}
.items dd > div{
  display: flex;
}
.items dl > div.appear dd {
  display: block;
  animation: .3s fadeIn;
}
.shop-summary {
  background: #fff;
  padding: 8px;
}

iframe {
  width: 100%;
  height: auto;
}


.contact {
  background-image: url(../img/flower1.jpg);
  background-size: cover;
}
.contact-img {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.contact-area {
  color: #fff;
  margin: 0 auto;
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
}
.contact-text {
  text-align: start;
}
.contact-way {
  max-width: 80%;
  margin: 0 auto;
}
.contact-way > span{
  font-size: 14px;
}
.contact-way > div{
  text-align: center;
  margin: 16px 16px 0 16px;
  border: 1px solid#fff;
  border-radius: 4px;
  font-size: 120%;
}
.contact-way a {
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
}
.contact-way > div:hover {
  background-color: burlywood;
}
.contact-way a span {
  vertical-align: middle;
}

footer .copy {
  text-align: center;
  margin: 0;
  padding: 16px;
  font-size: 14px;
  background: brown;
  color: #fff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


/* 画面幅切り替え */
@media (min-width: 600px) {
  .pc-menu {
    display: block;
    padding: 16px;
    background: #ccc;
  }
  .pc-menu ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    min-width: 40%;
  }
  .pc-menu li {
    padding: 0 8px;
  }
  .pc-menu li:nth-child(1) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .pc-menu li + li {
    border-right: 1px solid #ccc;
  }
  .pc-menu a {
    display: block;
    line-height: 64px;
    text-align: center;
    text-decoration: none;
  }
  .pc-menu a:hover {
    background: #f2f2f2;
  }

  .sp-menu {
    display: none;
  }

  .items,
  .container {
    width: 80%;
  }

  .card-list {
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
  }

  .ways-all{
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
  }
  .ways {
    max-width: 30%;
    margin-right: 16px;
  }

  .shop-info {
    display: flex;
  }
  .shop-summary {
    width: 40%;
    height: auto;
    min-height: 300px;
  }
  iframe {
    width: 100%;
    height: auto;
  }

  .contact {
    height: 450px;
  }
  .contact-area {
    margin-top: 64px;
    /* max-width: 60%; */
    margin: 0 auto;
  }
  .contact-way {
    width: 50%;
    text-align: center;
  }
  .contact-text {
    text-align: center;
  }
  .contact-way > div{
    text-align: center;
    margin: 16px 16px 0 16px;
    border: 1px solid#fff;
    border-radius: 4px;
    font-size: 120%;
  }
}